.DS_store
/crawler/src/.DS_store
/crawler/out/*
/crawler/in/*
/crawler/input/*
/crawler/src/__pycache__/
/crawler/clean/*
/dataset/*
/in/*
/data/dataset/*
/data/input/*
/models/*
/index/*
/dataTry/*
/indexer/__pycache__/