.DS_store
.vscode
/crawler/src/.DS_store
/crawler/out/*
/crawler/in/*
/crawler/input/*
/crawler/src/__pycache__/
/crawler/clean/*
/dataset/*
/in/*
/data/dataset/*
/data/input/*
/models/*
/index/*
/dataTry/*
/indexer/__pycache__/
/searcher/in/*
/searcher/debSearch.py
/index_backup/*
/data/inputdev/*
/data/archive/*
/data/inputProd/*
/searcher/static/in/*
/searcher/__pycache__/
/benchmark/bench archive
/benchmark/queries.txt
/benchmark/benchResults
/benchmark/__pycache__/